@import url('https://fonts.googleapis.com/css2?family=Allura&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-container {
    height: 100vh;
    overflow: hidden;
}

.background-overlay {
    background-image: url("./src/assets/bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-top-right-radius: 70px;
}

.img-fluid {
    width: 50%;
}

.login {
    width: 350px;
}

.buksulogo {
    height: 175px;
    width: 175px;
    margin-bottom: -70px;
}

.qaologo {
    height: 300px;
    width: 300px;
    margin-bottom: -100px;
}

.login-txt {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

.login-txt1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.login-txt2 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}